*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .title.heading{        
    color: red;
}

.box .title{
    color: green;
} */

/* h2 {
   color: red;
} */

/* h3.title{
    color: red;
} */

.title1{
    font-size: italic;
}
.title2{
    
    text-decoration: underline;
}
.title3{
    text-decoration: line-through;
}

/* .title1,.title2,.title3{
    color: red;
} */

/* .red-color{
    color: red;
} */

/* .title3 + .title3   {
    color: red;
} */

/* h2 ~ h4{
    color:red;
} */

.title3 ~ .title3{
    color:red;
}