
/*Tablet & Mobile*/
@media (max-width:1023px){
    .btn{
        padding: 15px 16px; 
    }
    .contact-form .form-control {
        padding: 15px;
    }
    .contact-info{
        line-height: 2;
    }
    .contact-submit-btn{
        font-size: 16px;
    }
    .social-list{
        font-size: 48px;
        margin: 0 8px;
    }
    #footer .copy-right a {
        padding: 12px 0;
        display: inline-block;
    }
    #nav .subnav a{
        padding: 5px 12;
    }
}

/*Only Mobile*/
@media (max-width:724px){
    /*Only active when the screen's width >= 800px*/
    .s-full-width,
    .s-col-full{
        width:100% !important;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    #nav{
        display:block;
    }
    #nav > li {
        display: block; 
    }

    #nav li  a{
        padding:1px 24px; 
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color:#fff;
        padding: 0 41px;
    }

    #nav > li:first-child {
        display: inline-block; 
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    #header{
        overflow:hidden;
    }
     
    #content .member-img{
        width: 60%;
    }
    #Contact .contact_item{
        width:100%;
        font-size: 12px;
    }
    
    .contact-form{
        margin-top: 32px;
    }
}